.GoogleImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sign_Body-container{
  width: 100%;
  min-height: 100vh;
  background-color: cadetblue;
  color: black;
}

.pasword_imp {
  color: black;
}
.Gender_input{
  background-color: #F2F2F2;
  height: 6vh;
  width: 80%;
  border: 2px solid rgb(224, 221, 221)

}

.Gender_input {
  height: 6vh;
  width: 80%; /* Adjust width as needed */
  border: 2px solid rgb(224, 221, 221);
  padding: 0.5rem;
  font-size: 14px;
  background-color: #F2F2F2;
  color: #555;
  margin-bottom: 10px;
}

.Gender_input option:first-child {
  color: gray;  
  font-size: 10px;  
  font-style: italic; 
  opacity: 0.5; /* Italic font style for placeholder */
}


.SignCard {
  width: 100%;
  max-width: 550px;
  position: relative;
  top:30px;
  left: 50px;
  box-shadow: 0px 6px 20px 0px rgb(60, 59, 59);
  padding: 30px 20px 0px 40px;
  background-color: white;
  border-radius: 20px;
}
.SignCard:hover {
  width: 100%;
  position: relative;
  top:30px;
  left: 50px;
  box-shadow: 0px 6px 20px 0px rgb(60, 59, 59);
  padding: 30px 20px 0px 40px;
  background-color: white;
  border-radius: 20px;
}
.Login_input .option {
  color: #aaa; /* Light grey to make it look like a placeholder */
}

.GoogleButton {
  width: 100%;
}

.text-center_p {
  text-align: center;
  font-size: smaller;
  margin-top: 5px;
}

.Body-container {
  width: 100%;
  background-color: cadetblue;
}
.Body-container:hover {
  width: 100%;
  background-color: cadetblue;
}


@media (max-width: 768px) {
  .sign_Body-container {
    padding: 10px;
  }

  .SignCard {
    width: 100%;
    max-width: 550px;
    padding: 15px 15px 0px 15px;
    position: relative;
    top:30px;
    left: 0px;
    box-shadow: 0px 6px 20px 0px rgb(60, 59, 59);
    background-color: white;
    border-radius: 20px;
  }

  .text-center_p {
    font-size: smaller;
  }

  .pasword_imp {
    font-size: 12px;
  }
}

@media (max-width: 590px){
  .SignCard {
    width: 90%;
    position: relative;
    left: 12px;
    max-width: 550px;
    padding: 15px 15px 0px 15px;
    box-shadow: 0px 6px 20px 0px rgb(60, 59, 59);
    background-color: white;
    border-radius: 20px;
  }

}
