.GoogleImg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.Body-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: cadetblue;
}
.pasword_imp {
  color: black;
}

.SignCard {
  width: 100%;
  box-shadow: 0px 6px 20px 0px rgb(60, 59, 59);
  padding: 20px;
  background-color: cadetblue;
}

.Label {
  color: white;
}

.GoogleButton {
  width: 100%;
}

.text-center_p {
  text-align: center;
  font-size: smaller;
  margin-top: 5px;
}

.Body-container {
  width: 100%;
  background-color: cadetblue;
}
.Body-container:hover {
  width: 100%;
  background-color: cadetblue;
}


@media (max-width: 768px) {
  .sign_Body-container {
    padding: 10px;
  }

  .SignCard {
    padding: 15px;
  }

  .text-center_p {
    font-size: smaller;
  }

  .pasword_imp {
    font-size: 12px;
  }
}
