/* AddPoll.css */
/* .AddPoll-Header{
  position: fixed;
  top:0px
} */

.AddPoll-PollsCard{

  width: 100%;
}
.AddPoll-Container {
  background-color: #dae0e6;
  width: 100%;
  height: auto;
}

.AddPoll-Navbar {
  display: flex;
  justify-content: space-evenly;
  width: 130px;
  border: 1px solid black;
  text-align: center;
}

.AddPoll-Navbar:hover {
  background-color: #f2f8fd;
}

.AddPoll-Body {
  width: 800px;
  height: auto;
  min-height: 70vh;
}

.Addpoll-Buttons {
  background-color: #ff4500;
  width: 150px;
  color: white;
  border-radius: 20px;
}
.Addpoll-Buttons:hover {
  background-color: #fa6e3b;

  width: 150px;
  color: white;
  border-radius: 20px;
}

.Cancel-Buttons {
  background-color: #c2c3c4;
  width: 150px;
  color: rgb(16, 16, 16);
  border-radius: 20px;
  border: none;
}

@media (min-width: 768px) {
  .AddPoll-Body {
    width: 850px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 20px;
    border-radius: 20px;
  }
}

.AddPoll-PollsCard {
  background-color: #f7f7f7;
  width: 800px;
  border-radius: 20px;
  min-height: 40vh;
  padding: 20px;
  border: 0.2px solid rgb(190, 187, 187);
}

.AddPoll-textArea {
  background-color: white;
  width: 100%;
  border-radius: 0;
  min-height: 10vh;
  padding: 10px;
  border: 0.2px solid rgb(190, 187, 187);
}
.option_card {
  margin-top: 30px;
}

.Notification_card {
  width: 18rem;
}

/* AddPoll.css */

/* Styling for larger screens (desktops and laptops) */
@media (min-width: 992px) {
  .AddPoll-PollsCard {
    width: 44rem;
  }

  .AddPoll-Container {
    background-color: #dae0e6;
    width: 100%;
    height: auto;
  }
}

/* Styling for medium-sized screens (tablets) */
@media (max-width: 991px) {
  .AddPoll-PollsCard {
    width: 100%;
  }

  .pollingBody {
    padding: 10px;
  }
 
  .Notification_card {
    width: 100%;
    font-size: small;
  }

  .AddButton {
    margin: 20px;
  }
}

/* Styling for smaller screens (mobile devices) */
