.fixed-top {
  position: fixed;
  top: 0;
}

.Header {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;

}
.Header-Title {
  color: #ff4500;
  font-size: 30px;
  font-weight: 800;
}
.Header-Title:hover {
  color: #ff4500;
  font-size: 30px;
  font-weight: 800;
}

.search-Bar {
  width: 500px;
  background-color: #edeff1;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 250px;
}

@media (max-width: 768px) {
#searchBar{
  display: none;
}
}

@media (max-width: 576px) {
  #searchBar{
    display: none;
  }
  
}
