.pollingRow {
  margin-top: 100px;
  background-color: #fafafb;
  width: 100%;
}

.pollingBody {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

.Badge {
  margin: 10px;
  width: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
  position: relative;
}

ul li::before {
  content: '\2022';
  position: absolute;
  left: 0;
  color: #000;
}

.poll-Title {
  font-size: 24px;
  padding: 10px;
}

.poll_card {
  width: 100%;
  max-width: 800px;
  background-color: #fafafb;
  border-radius: 20px;
  margin: 10px 10px 20px 50px ;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.poll_card:hover {
  cursor: pointer;
  border-radius: 20px;
}

.polling-range {
  background-color: #edeff1;
  border-radius: 20px;
}

.POll_user_name{
  text-decoration: none;
  font-size: 20px;
  color: rgb(87, 183, 183);
  
}


.innerCard {
  width: 100%;
  max-width: 650px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px auto;
}

.innerCard:hover {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
}

.formRadio {
  font-size: medium;
  font-family: sans-serif;
}

.voteButton {
  margin: 10px;
  background-color: grey;
  width: 100%;
}

.searchPoll {
  width: 100%;
  background-color: #edeff1;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Comments_Card {
  width: 100%;
  background-color: #edeff1;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .pollingBody {
    /* margin: 0px 10px 10px 10px; */
    max-width: 700px;
  }

  .poll_card, .innerCard {
    max-width: 550px;
  }
}

@media (max-width: 768px) {
  .pollingBody {
    padding: 10px;
    width: 100%;
  }

  .poll_card, .innerCard {
    width: 100%;
    /* margin: 10px; */
  }
}

@media (max-width: 576px) {
  .formRadio {
    font-size: small;
  }

  .voteButton {
    font-size: small;
  }

  .pollingRow {
    margin-top: 120px;
  }

  .pollingBody {
    max-width: 100%;
    /* padding: 5px; */
  }

  .poll_card, .innerCard {
    width: 100%;
    /* max-width: 500px; */
    margin: 0px 0px 10px 0px;
  }
}
