.fixed-top {
  position: fixed;
  top: 0;
  width: 110%;
  z-index: 1000;
}

.Header {
  background-color: rgb(100, 171, 176);
  color: white;
  height: auto;
  border-bottom: 5px solid #ebeef0;
}

.Header-Title {
  color: white;
  font-size: 30px;
  font-weight: 800;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.Header-Title:hover {
  color: #151413;
  font-size: 30px;
  cursor: pointer;
}

.Header_User_Name {
  color: #f1ebe9;
}

.search-Bar {
  width: 100%;
  background-color: #edeff1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

@media (max-width: 768px) {
  .search-Bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .search-Bar {
    display: none;
  }
}
