.pollingRow {
  margin-top: 65px;
  background-color: #fafafb;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pollingBody {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
 
}

.Badge{
  margin: 10px;
  width: 80px;
}
.poll-Title{
  font-size: 24px;
  padding: 10px;
}
/* .polling {
  height: auto;
} */

.card {
  width: 100%;
  /* border-radius: 20px; */
  background-color: #fafafb;
  border: none;
  margin-bottom: 20px;
  /* border: 0.1px solid rgba(0, 0, 0, 0.2); */

}

.card:hover {
  background-color: #edeff1;
  cursor: pointer;
  border-radius: 20px;
}





.polling-range {
  background-color: #edeff1;
  border-radius: 20px;
  /* border: 0.1px solid rgba(0, 0, 0, 0.2);  */

}

.innerCard {
  width: 100%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

.innerCard :hover {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
}


.formRadio {
  font-size: medium;
  font-family: sans-serif;
}

.voteButton {
  margin: 10px;
  background-color: grey;
  width: 100%;
}

.searchPoll{
  width: 100%;
  background-color: #edeff1;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.Comments_Card{
  width: 100%;
  background-color: #edeff1;

}


/* Responsive Styles */
@media (max-width: 768px) {
  .pollingBody {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .formRadio {
    font-size: small;
  }
  .voteButton {
    width: 100%;
    font-size: small;
  }
  
}

