
/* .range-Card {
  
  background-color: white;
 
} */

/* .card .rangeInnerCard:hover{
  background-color: white;

} */
.range-Card:hover{
  background-color: white;
  /* background-color: #fafcff; */
  /* border: 0.1px solid rgba(0, 0, 0, 0.2); */
}
.rangeInnerCard{
  width: 100%;
  max-width: 750px;
  background-color: white;
  border-radius: 20px;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 20px 0px 10px ;
  
 
}

.rangeInnerCard:hover{
  width: 100%;
  max-width: 650px;
  background-color: white;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
}

.Range-Colour {
  height: 30px;
  margin: 5px 0;
  padding-left: 10;
}

.Result-range{
  margin: 10px;
}