:root {
  --primary-color: #ff4500;
  --hover-color: #fa6e3b;
  --text-color: #76574c;
}

.sidebar {
  position: fixed;
  margin-top: 70px;
  background-color: #ff4500;
  width: 280px;
  background-color: #ffffff;
  color: rgb(1, 14, 15);
  height: 100vh;
  position: fixed;
  font-size: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.signOut {
  position: absolute;
  top: 75vh;
  margin-top: 20px;
  margin-left: 50px;
  left:50;
  width: 150px;
  border: none;
  background-color:rgb(55, 115, 116) ;

}

.signOut:hover {

  background-color: "white";
box-shadow: 2px solid skyblue;
 
}

.Nav_Links-Bar {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 40px;
}
.Nav_Links-Bar:hover {
  position: relative;
  left: 40px;
}

.Navbar_icon {
  margin-right: 20px; /* Adjust the value as needed */
  text-shadow: 2px 2px 10px blue;
}

.Navbar-Links {
  margin-top: 5px;
  font-size: 18px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Navbar-Links:hover {
  transform: scale(1.2);
  width: 180px; /* Adjust the width as needed */
  box-shadow: 0 20px 10px -10px rgb(120, 201, 204);
  color: rgb(84, 206, 208);

}


.scrollable-content {
  max-height: 200px; /* Set the maximum height for the scrollable area */
  overflow: scroll; /* Enable vertical scrolling */
}



.scrollable-content {
  overflow-y: auto;  /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrolling */
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer and Edge */
  scrollbar-width: thin; /* Firefox scrollbar width */
  scrollbar-color: #1a9cab transparent; /* Firefox scrollbar color */
}

/* Custom scrollbar styling for WebKit browsers (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #4dd0ff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid transparent; /* Adds some space around the thumb */
}



#Mobile_view {
  display: none;
}


.Category_Name_Card{
  background-color: #DDE7E9;

}

.Category_Name{
 
  font-size:20px;
 
}
.Category_Name:hover{
  color: #18abab;
  font-size:larger;
  border-bottom:2px solid #80c1ff ;
}


@media only screen and (max-width: 1000px) {
  .sidebar {
   margin-top: auto;
    height: 100vh;
  }

  .main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }

  .Mobile_container {
    position: fixed;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }

  #desktop_view {
    display: none;
  }

  #Mobile_view {
    display: contents;
   
  }
  
  .Mobile_view_place_fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    /* max-width: 320px; */
    z-index: 1000;
  }

  .Mobile_view_Navbar {
    background-color: rgb(71, 153, 153);
    padding: 0% 5% 2% 5%;
  }
 
 .Mobile_Nav_links{
  padding: 5px;
 }

  .Mobile_container {
    margin-top: 35px;
  }
  .Mobile_Nav-Links{
    color: white;
  }

  .Mobile_view_Navbar_brand{
    color: #c5ebf2;
    font-size: larger;
  }
  .signOut {
    position: absolute;
    top: 75vh;
    bottom: 100vh;
    margin-top: 20px;
    width: 150px;
    color:"white";
    background-color: var(--primary-color);
    border: 2px solid White;
  }

  .signOut:hover {
    background-color: var(--hover-color);
  }
}
