.TrendingContainer {
  position: fixed;
  height: 100vh;
  
}

@media (max-width: 768px) {
  .TrendingContainer {
    position: fixed;
    height: 100vh;
    
  }
}

@media (max-width: 576px) {
  .TrendingContainer {
    position: fixed;
    height: 100vh;
    
  }
  
}